.SignUpPage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Header {
  display: flex;
  background-color: #0D1117;
  width: 100%;
  padding: 2vh;
  color: white;
  font-size: xx-large;
  align-content: flex-end;
}

.ClickableLogo {
  max-width: 50px;
  max-height: 50px;
  padding-right: 5px;
}

.MainForm {
	background-color: #1f2f78;
	color: white;
	width: 30vw;
	height: 40vh;
	padding: 2vh;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.FormItem {
	display: flex;
	flex-direction: column;
}

.FormRow {
	width: 100%;
	display: flex;
	column-gap: 0.75vw;
	justify-content: center;
}

.SubmitBtn {
  background-color: #99e1e3;
  font-size: large;
  width: 30%;
	margin-top: 1.5vh;
	cursor: pointer;
  color: black;
	border: none;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PwdMsg {
	height: 30px;
	margin-top: 20px;
	margin-bottom: 0;
}