body {
	margin: 0;
	padding: 0;
	background-image: url("./assets/carbg.png");
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
}

a:link {
	text-decoration: none;
	color: white;
}

.top {
	z-index: 1;
	color: white;
}

.Menu {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
}

.MenuBox {
	background-color: white;
	width: 70vw;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.LogoBar {
	background-color: #0D1117;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.LoginGreeting {
	font-size: xx-large;
	margin-right: 4vw;
	margin-bottom: 6vh;
}

.AcctBtns {
	width: 20vw;
	margin: 1vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.Button {
	font-size: x-large;
	width: 9vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.Login {
	background-color: #2062c6;
}

.Login:hover {
	background-color: #417cd5;
}

.DropDownLink {
	font-size: large;
}

.SignUp {
	background-color: #8d39e1;
}

.SignUp:hover {
	background-color: #9c54e4;
}

.Collapsed {
	height: 40px;
}

.NavBarAndContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow: auto;
}

.NavBar {
	background-color: #223148;
	color: white;
	width: 100vw;
	min-width: 120px;
	height: 5vh;
}

.NavBtn {
	background-color: #223148;
	color: white;
	text-wrap: nowrap;
	border: none;
	width: 15vw;
	min-width: 120px;
	height: 5vh;
	min-height: 25px;
	font-size: large;
}

.selected,
.NavBtn:hover {
	background-color: #324869;
}

.Hidden {
	visibility: hidden;
	opacity: 0;
	display: none;
}
