.CarCard {
  background-color: #0c336e;
  color: white;
  margin-left: 4vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.CarPic {
  margin-left: 4vw;
  margin-top: 4vh;
}

.InfoCell {
  display: flex;
}